Omak High School Club Web Site Project

10-15 pages
Required pages:

Home page (made, not finished)

About page (explained in join the club)

Requirements to join the club (finished, could be changed)

Club Constitution (not sure what this is? so hopefully I got it)

Club Officers (could be put in 'about team'?)

Calendar of events (calendar page)

Photo Gallery (main page)

News (News added on main page. Still could be changed.)

Documents and Forms for Download (dont think we have documents)

Sponsors (dont think we have sponsers)

Advisor contact information (put in how to join club)
