Omak High School Club Web Site Project

10-15 pages
Required pages:

Home page (made, not finished)

About page (made, not finished)

Requirements to join the club (made? (join-the-club), not finished)

Club Constitution

Club Officers (could be put in 'about team'?)

Calendar of events

Photo Gallery

News (News added on main page. Still could be changed.)

Documents and Forms for Download (dont think we have documents)

Sponsors (dont think we have sponsers)

Advisor contact information (can put in 'about team' under Mrs. Lamb?)
